*{
    margin: 0px;
    padding: 0px;
    
}
.navv{
    background-color:#337ab7;
    display: flex;
    padding:6px;
    

}
.icons{
    height: 20px;
    margin: 7px 8px;
}
.icon_tray{
    margin-left: 110px;
}
.m{
    margin-left: 80px;    
    margin-top: 10px;
    color: white;
}
.bt{
    margin-top: 1px;
    margin-left: 3px;
    padding: 8px;
    color: rgb(119, 115, 115);
}
.bt-tray{
    margin-left: 140px;
    
}




.menu-1{
    margin-left:500px;
    display: flex;
    /* padding-bottom: 100px; */
}
.main-div{ display: flex;}

.menu-tray{
    display: flex;
    margin-top: 20px;}
.news{ 
    color:#00FF00 ;
    background-color: #337ab7;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 80px;
    font-family:'open sans, serif';

}
.news1{ color: aliceblue;}

.news2{ color: blue;}

.logo-1{ margin-left: 110px;  

}


.intro{
    padding-top: 70px;
font-weight: 600px;
font-size: 30px;
    text-align: center;
    display: inline;
    color: #427900;  
    margin-left:40%;
     font-family: 'Merriweather', serif;}  

.introduction{color: #337ab7;}




.line{
    width:10px;
    height: 1px;
    background-color: #427900;
    margin-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    margin-top: 25px;
    padding-left: 50px;
}
.line1{
    display: flex;
}
.text{
color: rgb(112, 106, 106);
    width: 800px;
    margin-left: 20%;
    padding-top: 40px;
    padding-bottom: 10px;
FONT-SIZE:20px; LINE-HEIGHT: 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
    
.data-monthly{
height: 300px;
background-color: #337ab7;
display: flex;
margin-bottom: 20px;
margin-top: 30px;
font-size:20px;



}
.data1{
    background-color:#337ab7;
    color: white;
text-align: center;
padding-left: 30px;
margin-bottom: 50px;
margin-top: 50px;
padding-top: 40px;}


    .doing{
        padding-top: 50px;
    font-weight: 600px;
    font-size: 30px;
        text-align: center; 
    padding-right: 20px;
        color: #427900;  
        
         font-family: 'Merriweather', serif;
    }
    .ab{  
  margin-left: 100px;
  
display: flex;
background-color: whitesmoke;

    }
    .ab1{
      width: 60px;  
        padding: 20px 125px;
        background-color:transparent;
        margin: 15px ;
text-align: center;
        margin-left: 35px;
      color: #337ab7 ;
      box-shadow: 2px 2px 8px gray;
    
    }
    .ab2{
padding: 20px 55px;
        
        margin: 15px;
        margin-left: 35px;
        background-color:whitesmoke;
    color: #337ab7;
    
    box-shadow: 2px 2px 8px gray;
    }


.mission{
    text-align: start;
    margin-top: 40px;
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
    
}
.head-line{
    
    height: 1px;
    background-color: #427900;
    margin-left:8%;
    margin-top: 1px;
    padding-bottom: 1px;
    width:50px;
}
.hd{
    font-size: 15px;
 margin-left: 40px;
 margin-top: 40px;
 color: #316DC3;
 background-color: rgb(243, 241, 239);
 display: flex;
 padding: 20px;

}
    
.hd-space{ 
 display: flex;
margin-left: 120px;}

.heading{
    
color: #316DC3;
  font-size: 25px;
    margin-left: 8%;
    text-align: start;
    
}
.up{display: flex;
}

.abc1{display: flex;}
.abc{
    width:300px; height: 200px;
    margin-left: 200px;
    margin-top: 50px;
    
    
}
.line-heading{

    height: 1px;
    background-color: #427900;
    margin-top: 1px;
    padding-bottom: 1px;
    width:50px;
    margin-left: 8%;

}
.upcoming-portion{ font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
width: 250px;
height: 200px;
color: royalblue;
/* margin-left: 10px; */
}
.p{ color: rgb(109, 105, 105);}
.a{
    margin-top: 20px;
    height: 29px;
    padding: 3px;
    width: auto;
    display: flex;
    margin-right: 3px;
    border: 0px;
    font-size: 14px;
    color: rgb(75, 75, 75);
    background-color: white;     
    
}
.a:hover{
    background-color:#316DC3;
    border-radius: 30px;
    color: white;
    
}

.gallery{
    color: #316DC3;
    padding-top: 50px;

}
.image-gallery{
    margin-bottom: 80px;
    
}
.footer{
    background-color: rgb(51, 47, 47);
}
.inside-footer{
    font-size: 15px;
    text-align: start;
    color: white;
    font-family: Arial, Helvetica, sans-serif;